$dark-gray: #585858;
$tana: #bdba9c;
$khaki: #f0e68c;
$west-coast: #64551f;
$highball: #90813b;
$sandstone: #7b6d5c;
$schooner: #8b8378;
$spice: #66543e;
$madras: #4c3b25;
$onion: #33250d;
$woodrush: #332915;
$jacko-bean: #2e1c08;
$acadia: #1e1205;
$crowshead: #1a130a;


.nf-form-content  input {  background-color: $madras;  border: 1px solid $sandstone;  color: #bdba9c;  font-family: verdana,arial,tahoma,sans-serif;  font-size: 8pt;  padding: 2px 2px 2px 4px;  width: 70%;}

